@import 'src/styles/mixins';

.legend>.padding-left {
    padding-left: 15px;
}

.screen {
    border-bottom: 3px solid black;
    padding: 6px 20px;
    margin: 15px 50px;
    box-shadow: 0px 6px 6px black;
}

.seat {
    border: 1px solid #053659;
    min-width: 20px;
    min-height: 20px;
    padding: 5px 10px;
    background: #053659;
    text-align: center;
    color: white;
    border-radius: 6px;
}