<div class="contain">
    <app-tab-section [languages]="languages" [selectedLang]="selectedLang"
        (handleSelectLangEvent)="handleSelectLang($event)"></app-tab-section>
    <div class="dashboard">
        <app-card [movieDetails]="movieDetails" [theatreDetails]="theatreDetails"
            (handleSelectMovieEvent)="handleSelectMovie($event)"></app-card>
    </div>
</div>

<app-ui-popup [expand]="true" *ngIf="showPopup" (closeEvent)="showPopup=false">
    <div class="movie flex flex-[0_0_100%] max-w-[100%] p-4 h-[100%]">
        <div class=" flex-[0_0_40%]">
            <img class="banner w-[100%] rounded-lg h-[100%]" src="{{selectedMovie?.thumbnail_url}}" alt="">
            <figure>
                <img class="w-[100%] rounded-lg h-[100%]" src="{{selectedMovie?.thumbnail_url}}" alt="">
            </figure>
        </div>
        <div class="movie-details flex-[0_0_60%] pl-5 relative overflow-hidden">
            <h1 class=" m-0  break-all text-4xl mb-2 text-text_on_primary">{{selectedMovie?.movie_name}}
                <span class=" text-2xl"> ({{selectedMovie?.language}})</span>
            </h1>

            <div class=" text-tertiary text-xl">
                <samp class="mr-8 font-semibold">IMDb {{selectedMovie?.imdb_rating }}</samp>
                <samp class="mr-8 font-semibold">{{selectedMovie?.running_time }}</samp>
                <samp class="mr-8 font-semibold">{{selectedMovie?.release_date }}</samp>
            </div>
            <ul class="movie-cards__tags flex items-center mb-2 p-0">
                <li *ngFor="let list of selectedMovie?.tags" class="pr-2 font-medium  tracking-normal text-lg">
                    <span class="underline underline-offset-2 text-text_on_primary text-xs"> {{list}} </span>
                    <span class="splitter text-text_on_primary"> • </span>
                </li>
            </ul>
            <app-tab-section [date]="true" [weekDays]="weekDays" [selectedDate]="selectedDate"
                (handleSelectedDateEvent)="handleSelectedDate($event)"></app-tab-section>

            <h5 class="text-text_on_primary">Runnning in Theatres Now <i class="fa-solid fa-masks-theater"></i></h5>
            <ng-container *ngFor="let theatre of theatreDetails">
                <div class="theatre flex flex-wrap items-center"
                    *ngIf="theatre?.available_movies?.includes(selectedMovie?.movie_name)">
                    <a class="mr-4 mb-0 text-3xl font-semibold text-text_on_primary" href="{{theatre?.website}}">
                        {{theatre?.theatre_name}}</a>
                    <div class="flex items-center">
                        <img class="w-10 h-10 mr-3" src="assets/images/star-classic.svg" alt="Rating">
                        <span class="text-2xl"><strong>{{theatre?.customer_rating }} </strong>/ 5 ratings</span>
                    </div>
                    <span class="pt-3 pb-4 min-w-[700px]">{{theatre?.address }}</span>
                    <ng-container *ngFor="let slot of theatre[selectedMovie?.movie_name]">
                        <div (click)="handleBookTicket(slot,theatre,selectedMovie,selectedDate)"
                            class="show-time mb-4 w-[200px] h-[100px] rounded-md border  p-3 mr-5 text-xl text-center cursor-pointer text-white bg-[#003052]">
                            {{slot?.timings}}
                            <i class="fa-solid fa-hourglass-half"></i>
                            <a class="block text-sm font-light underline-offset-4 text-white"
                                href="{{theatre?.website}}">More
                                Info</a>
                            <app-tooltip [data]="theatre" [availableSeats]="theatre?.seat_availability"></app-tooltip>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <img [src]="selectedMovie?.thumbnail_url" class="absolute right-0 bottom-0 w-[150px] h-[150px]" id="img"
                alt="">
        </div>
    </div>
</app-ui-popup>