@import "src/styles/_mixins.scss";
@import "src/styles/_variables.scss";
// @import "src/styles/_fonts.scss";

.popup {
    @include display-flex(flex);
    @include justify-content(center);
    @include align-items(center);
    @include position(fixed, 0, null, null, 0);
    @include width-height(100%, 100%);
    backface-visibility: hidden;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: 999;

    &-close {
        @include position(absolute, $top: 10px, $right: 10px);
        z-index: 99;

        img {
            width: 15px;
            cursor: pointer;
        }

        z-index: 9999;
    }

    &-close-mobile {
        display: none;
    }

    &-content {
        background-color: white;
        border-radius: 10px;
        max-height: calc(100vh - 50px);
        max-width: 980px;
        width: 100%;
        position: relative;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        animation: fadeup 0.3s;
    }
}

@keyframes fadeup {
    0% {
        transform: translate3d(0, 30px, 0);
        opacity: 0;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}


.small {
    max-width: 450px;
}

.medium {
    max-width: 560px;
}

.expand {
    height: 100%;
    max-width: calc(100vw - 150px);
}